{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
        Components | Vistan Nextgen Pvt Ltd
{% endblock%}
            


{% block content %}
      
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            
            <li class="breadcrumb-item">
              <a href="index-2.html">
                <i data-feather="home"></i></a>
            </li>
            <!-- <li class="breadcrumb-item active">Dashboard</li>    -->
            <li class="breadcrumb-item active">Update Category</li>                   
          </ul>      


            <div class="card">
                <div class="card-header">
                <h4>Update Category</h4>
            </div>
                  
            <div class="card-body">       
                <div class="container">
                    <form method = "POST">
                        {% csrf_token %}

                            {{form|crispy}}
                     <div class="footer">
                         <button class="btn btn-primary">Submit</button>
                     </div>
                    </form>
                </div> 
               </div>    
        </section>
      </div>
    </div>
{% endblock %}


{% block js %}

{% if messages%}
  <script>
        iziToast.show({
                        title: '',
                        message: '{% for i in messages %}{{i}}{%endfor%}',
                        position: 'topRight',
                        color: 'green'
                        /* {% for i in messages%}
                          {% ifequal 'danger' i.tags %} red
                          {% else %} green
                          {% endifequal%}
                        {% endfor %} */
                    });
  </script>
  {% endif %}

{% endblock %}