{% extends 'base.html' %}

{% block title %}{{user.username}} - bag | Vistan Nextgen{% endblock %}


{% block content %}
      
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            
            <li class="breadcrumb-item">
              <a href="index-2.html">
                <i data-feather="home"></i></a>
            </li>
            
            <li class="breadcrumb-item active">Your Bag</li>                   
          </ul>        
          

          {% include 'bag/bag_details.html' %}

          
          
        </section>
      </div>
    </div>
{% endblock %}



{% block js %}

{% if messages%}
  <script>
        iziToast.show({
                        title: '',
                        message: '{% for i in messages %}{{i}}{%endfor%}',
                        position: 'topRight',
                        color: 'success'
                    });
  </script>
  {% endif %}

{% endblock %}
