asgiref==3.7.2
beautifulsoup4==4.12.3
Django==4.2.4
django-bootstrap4==23.4
django-crispy-forms==2.0
Pillow==10.0.0
pytz==2021.1
soupsieve==2.5
sqlparse==0.4.1
typing_extensions==4.7.1
tzdata==2023.3
