{% extends 'base.html' %}

{% block title %}
    Deployment| Vistan Nextgen
{% endblock %}

{% block content %}
<!-- Main Content -->
    <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            
            <li class="breadcrumb-item">
              <a href="index-2.html">
                <i data-feather="home"></i></a>
            </li>
            
            <li class="breadcrumb-item active">Deployment</li>                   
          </ul>

        </section>
    </div>

{% endblock %}