{% extends 'base.html' %}
{% load static %}

{% block title %}
       Admin Dashboard | Vistan Nextgen Pvt Ltd
{% endblock%}
            


{% block content %}
      
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            
            <li class="breadcrumb-item">
              <a href="index-2.html">
                <i data-feather="home"></i></a>
            </li>
            <!-- <li class="breadcrumb-item active">Dashboard</li>    -->
            <li class="breadcrumb-item active">Admin Dashboard</li>                   
          </ul> 
          {% include 'dashboard/admin_cards.html' %}

          {% include 'dashboard/admin_tables.html' %}

                      
          
        </section>
      </div>
    </div>
{% endblock %}