<div class="container">
    <div class="row ">
        
       

        <div class="col-sm-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                    <div class="mb-4">
                        <h6 class="card-title mb-0">Your Orders</h6>
                    </div>

                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                          <h5 class="d-flex align-items-center mb-0">
                            {{ord_len}}
                          </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <div class="col-sm-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-th-large"></i></div>
                    <div class="mb-4">
                        <h6 class="card-title mb-0">Your deployments</h6>
                    </div>

                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                          <h5 class="d-flex align-items-center mb-0">
                            {{dep_len}}
                          </h5>
                        </div>
                    </div>
                </div>
            </div>            
        </div>




    </div>
</div>